{% extends 'core/base.html' %}

{% block title %}       
    Sobre
{% endblock %}

{% block content %}

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Nossa História</h2>
        
        <div class="gap-3 text-justified">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex erat, pretium ut turpis eu, pharetra pretium eros. In auctor sem nec diam pretium sollicitudin. Donec eget egestas tellus, eleifend egestas libero. Aenean vel nibh quis ante dictum blandit. Curabitur non nisl convallis, eleifend massa sit amet, tempus nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc suscipit non odio eget vulputate. In in faucibus justo, eget maximus elit. Nullam mattis purus augue, non accumsan turpis bibendum ac.
            <br><br>
            </p>
            <p>
                Praesent quis tempus massa, rhoncus pellentesque purus. Suspendisse a risus leo. Cras nunc dolor, ornare ut porttitor ut, ultrices vel arcu. Pellentesque blandit at neque ac suscipit. Pellentesque sodales, nulla convallis imperdiet consequat, erat nisl suscipit tellus, et hendrerit arcu tortor porta risus. Integer eu nisl leo. Nunc viverra, nisi sit amet lacinia vestibulum, tellus dolor dapibus dui, in ornare purus dolor sed elit. In et augue risus. Donec pellentesque urna quis volutpat auctor. In malesuada sem vel ornare maximus. Fusce et varius elit.
            <br><br>
            </p>
            <p>
                Cras convallis lorem lacus, vitae cursus augue sodales quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ante dolor, tincidunt sit amet rhoncus vel, hendrerit ut nisi. Maecenas sed felis mattis, fermentum neque ut, interdum leo. In vitae quam risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consectetur nisi non odio tempor dapibus. Vivamus ac dui ultrices, feugiat diam eu, malesuada ligula. Duis ut condimentum quam, nec euismod lacus. Proin volutpat sagittis dapibus.
            <br><br>
            </p> 
            <p>
                Aliquam aliquam, dolor eget fermentum congue, libero neque porttitor elit, nec congue velit metus a justo. Ut eu pellentesque sem. Proin at ex ac nisl consectetur dapibus non in quam. Pellentesque finibus mi nisi, ac imperdiet sapien porta sit amet. Duis ac consectetur justo. Duis lorem est, lobortis nec commodo sed, scelerisque vel diam. Vivamus fringilla scelerisque elit sed porta. Nulla facilisis blandit elit, sit amet ullamcorper massa vulputate vitae. Aliquam leo elit, iaculis id risus luctus, elementum aliquam eros. Maecenas id mauris fringilla, molestie est non, porttitor sem. Nam nec posuere ipsum, sit amet pretium nibh. Vestibulum interdum vulputate lacus a fringilla. Aliquam eu sapien dui. Vivamus feugiat, turpis eget sollicitudin hendrerit, mi nisl interdum justo, pretium maximus sem leo ut tellus.</p>
            <br><br>
            </p>
        </div>
    </div>

    <div class="px-24 py-24">
        <!-- espaço vazio para separar uma div do footer -->
    </div>

{% endblock %}